.catalog-main {
    position: relative;
    padding: 125rem 0 40rem;
}

.catalog-main .breadcrumbs {
    margin: 0 10rem 38rem;
}

.catalog-main .row {
    justify-content: space-between;
}

.catalog-main .section-title {
    width: calc(100% - 450rem);
    max-width: 640rem;
    position: relative;
    margin: 0 10rem;
    z-index: 3;
}

.catalog-main .section-title h1 {
    font-size: 20rem;
    font-weight: 600;
    line-height: 24rem;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 0 20rem;
}

.catalog-main .section-title p {
    font-size: 18rem;
    font-weight: 400;
    line-height: 25rem;
    letter-spacing: 0em;
    text-align: left;
}

.catalog-main .section-image {
    width: 410rem;
    margin: 0 10rem;
}